requests>=2.31.0
rich>=13.7.0
langchain-core>=0.1.30
langchain-community>=0.0.24
langchain-chroma>=0.0.14
pydantic>=2.6.3
cryptography>=42.0.5
tiktoken>=0.6.0
chromadb>=0.4.24
sentence-transformers>=2.5.1